body {
            position: relative;
            margin: 0;
            padding: 55px 0 0 0;
        }

        #demo_menu {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50px;
            line-height: 50px;
            background: url(../images/my/menu_bg.png) repeat-x;
            z-index: 800;
            font-size: 14px;
            text-align: center;
            color: #999;
            line-height: 180%;
            border-bottom: 1px solid #8A961C;
        }

            #demo_menu .top_menu {
                width: 1080px;
                margin: 0 auto;
                color: #000;
                font-size: 12px;
                overflow: hidden;
                z-index: 1000;
            }

                #demo_menu .top_menu strong {
                    width: 195px;
                    display: block;
                    height: 50px;
                    float: left;
                    background: url(../images/my/logo.png) no-repeat 0 8px;
                }

            #demo_menu .top_left {
                float: left;
                width: 550px;
                height: 50px;
                line-height: 50px;
                z-index: 9999;
                overflow: hidden;
            }

                #demo_menu .top_left ul {
                    width: 550px;
                    float: right;
                    overflow: hidden;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                #demo_menu .top_left li {
                    float: left;
                    margin: 0 15px 0 0;
                    padding: 0;
                    text-align: center;
                }

                    #demo_menu .top_left li a, #demo_menu .top_left li a:visited {
                        font-size: 14px;
                        font-weight: bold;
                        color: #333;
                        text-decoration: none;
                        width: 60px;
                        display: block;
                        height: 50px;
                        line-height: 50px;
                    }

                        #demo_menu .top_left li a:hover, #demo_menu .top_left li a:hover span {
                            cursor: pointer;
                            color: #fff;
                            text-decoration: none;
                        }

                #demo_menu .top_left a, #demo_menu .top_left a:visited {
                    font-size: 12px;
                    white-space: nowrap;
                    color: #fff;
                    font-family: "ו", "Times New Roman", Times, serif;
                    line-height: 140%;
                }

                    #demo_menu .top_left a:hover {
                        color: #000;
                        font-family: "ו", "Times New Roman", Times, serif;
                    }

            #demo_menu .top_right {
                float: right;
                width: 320px;
                padding: 8px 0 0 0;
                z-index: 1000;
            }

        #bdshare {
            margin: -5px 0 0 0;
        }