<?xml version="1.0" encoding="utf-8" ?>
<router>
  <!--需要引用的外部dll路径，用于动态创建dll-->
  <referenceLibs>
    <!--path: 文件路径，如果使用相对路径，该路径将被解析为相对于router.config配置文件的路径-->
    <dll name="System.Web.Mvc.dll" path="../bin/System.Web.Mvc.dll" />
  </referenceLibs>
  <ignoreRoutes>
    <igroute path="{resource}.axd/{*pathInfo}" />
    <igroute path="static/{*pathInfo}" />
  </ignoreRoutes>
  <routes>
    <route name="Default" url="{controller}/{action}/{id}">
      <params>
        <!--
                            参数列表，暂时仅支持System.dll程序集下定义的类型
                            如果要支持复杂类型，请在节点 <referenceLibs> 中加入该程序集的引用地址
                            如果optional=true  ，则value值会被忽略
                            如果optional=true  ，请在 <referenceLibs>节点中指定 System.Web.Mvc.dll 程序集的路径，because System.Web.Mvc属于.net插件，无法自动获取程序集路径
                  -->
        <param name="controller" type="System.String" value="Home" optional="false" />
        <param name="action" type="System.String" value="Index" optional="false" />
        <param name="id" type="System.Int32" value="" optional="true" />
      </params>
    </route>
  </routes>
</router>