<?xml version="1.0" encoding="utf-8"?>
<sources>
  <!--
    name  资源唯一名称，不能重复，不区分大小写
    type  资源文件类型，取值：js  css
    version  资源文件版本号
    file  资源文件路径，相对于staticsources.config的路径
  -->
  <source name="jQuery" type="js" version="1.5.3" file="../myblog/static/pub/scripts/jquery-1.8.2.min.js"/>
  <source name="licious" type="js" version="1.0.0" file="../myblog/static/pub/scripts/jquery.grid-a-licious.min.js"/>
  
  <!--首页资源 begin-->
  <source name="index.css" type="css" version="1.0.0" file="../myblog/static/myblog/styles/index.css"/>
  <source name="demo.css" type="css" version="1.0.0" file="../myblog/static/myblog/styles/1/demo.css"/>
  <source name="bgResize" type="js" version="1.0.0" file="../myblog/static/myblog/scripts/jquery.bgResize.js"/>
  <source name="fontFlex" type="js" version="1.0.0" file="../myblog/static/myblog/scripts/jquery.fontFlex.js"/>
  <source name="load" type="js" version="1.0.0" file="../myblog/static/myblog/scripts/jquery.load.js"/>
  <source name="loading" type="js" version="1.0.0" file="../myblog/static/myblog/scripts/jquery.loading.js"/>
  
  
  <!--首页资源 end-->
</sources>